<!doctype html>
<html>
	<head>
		
		<link rel="stylesheet" href="/style.css" type="text/css">

		<link rel="stylesheet" href="style/slider-def.css" type="text/css"> 
			<title>Chris Loreta</title>
	</head>
<body>


	<div id="menubar">
  		<a href="/">Home</a>
 		<a href="about">About</a>
  		<a href="projects">Projects</a>
  		<a href="contact">Contact</a>
	</div>

	<div id="content">
		{{{body}}}
	</div>
</body>
</html>