<h1>About Me:</h1>

<img src="profile.png" width="128">

<div id="about">

I’m a Physics graduate from Virginia Tech and a current CS student at Oregon State. 
<br><br>
My hobbies include soccer, playing guitar, and fishing. I have 2 pet dogs named Chucky and Lucky, and I live in the North woods of Virginia.

<br><br>

<a href="resume.pdf">Download resume</a>

</div>