<h1>Contact Me:</h1>

<!-- Codes by HTMLcodes.ws -->
<div style="border:1px solid black;width:150px;height:150px;overflow:scroll;">
<p>This is a scroll box which allows you to place lots of web content into a small box. The content was retrieved from http://www.htmlcodes.ws/scroll-boxes/ and is placed on this page to fulfill a requirement.</p>

</div>

<br>
Send me a message!<br>
loretab@oregonstate.edu
