<h1>Website of Chris, aspiring software engineer...</h1>

<br><br>
Skills:
<ul>
	<li>C++
	<li>Python
	<li>HTML
	<li>CSS
</ul>

<a href="https://www.linkedin.com/in/chris-loreta-35a790b8/?trk=profile-badge">LinkedIn</a>
<a href="https://github.com/Loretac">GitHub</a>



