<h1>Website of Chris Loreta, aspiring software engineer...</h1>

<br><br>
Skills:
<ul>
<li>C++
<li>Python
</ul>

<a href="https://www.linkedin.com/in/chris-loreta-35a790b8/?trk=profile-badge">LinkedIn</a>
<a href="https://github.com/Loretac">GitHub</a>



