<h1>Projects:</h1>



<div id="slider"> 
<div class="slides">

<!-- First slide --> 
<div class="slider">
<div class="legend"></div> 
<div class="content"> 
<div class="content-txt"> 
<h1> Space Shooter </h1> 
<h2> This is a Galaga-style arcade game where the player controls a spacecraft to shoot and destroy enemies and beat final bosses. Created using the Qt framework and Qt Creator; coded in C++. </h2> 
</div> 
</div> 
<div class="images"> 
<img src="shooter.jpg" width="800px"> 
</div> 
</div> 

<!-- Second slide --> 
<div class="slider">
<div class="legend"></div> 
<div class="content"> 
<div class="content-txt"> 
<h1> Langton’s Ant simulation </h1> 
<h2> This program is a mathematical projection of the famous Turing machine, created using C++. The user can choose the dimensions of the field and longevity of the runtime (number of steps). The behavior is shown animated in the console. </h2> 
</div> 
</div> 
<div class="images"> 
<img src="langton.gif" width="800px"> 
</div> 
</div> 

<!-- Third slide --> 
<div class="slider">
<div class="legend"></div> 
<div class="content"> 
<div class="content-txt"> 
<h1> Mario simulator </h1> 
<h2> A Super Mario World simulator created in C++. </h2> 
</div> 
</div> 
<div class="images"> 
<img src="mario.jpg" width="800px"> 
</div> 
</div> 


</div> 
</div>